---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Junio 2022 - Presente",
    title: "Python tutor - Kodland",
    description: "Imparto sesiones de tutoría individual y en grupo, guiando a estudiantes en el aprendizaje de Python desde conceptos fundamentales hasta proyectos avanzados. Reviso y proporciono retroalimentación detallada sobre el código de los estudiantes, enfocándome en mejorar la eficiencia, la legibilidad y la aplicación de buenas prácticas de programación. Además, enseño y fomento el uso de mejores prácticas de programación, incluyendo la documentación efectiva, la modularidad del código y la resolución eficiente de problemas.."
  },
  {
    date: "Enero 2023 - Diciembre 2023",
    title: "Docente de informatica y desarrollo de software ",
    description: "Diseñé y planifiqué clases que cubrieron los fundamentos y conceptos avanzados de la informática, utilizando métodos de enseñanza efectivos para asegurar la comprensión de los estudiantes. Instruí a los estudiantes en lenguajes de programación, desarrollo de software y metodologías de programación. Lideré y supervisé un proyecto práctico donde los estudiantes aplicaron sus conocimientos en Python para desarrollar una aplicación desde cero, guiándolos a través del proceso completo de desarrollo de software, desde la conceptualización y diseño hasta la implementación y pruebas."
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 mt-10 ml-3">   
    {EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...experience} />
        </li>
    ))}               
</ol>
